body {
  min-height: 95vh;
}
footer {
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
}
.hidden {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: #48695c;
  color: white;
}
input[type="checkbox"]:checked + label {
  background-color: #48695c;
  color: white;
}
